<div style="border-radius:10px; border:#5885AF solid; padding: 15px; background-color:white; font-size:100%; text-align:center">
<font size=+4 color='black'><b>Problem Statement</b></font>
<font size=+1 color='black'><p>Develop a predictive model to classify whether a policyholder will file an insurance claim in the next 6 months using the given historical policy and vehicle attributes.</p>

<div style="border-radius:10px; border:#5885AF solid; padding: 15px; background-color:white; font-size:100%;text-align:center">
<font size=+4 color='blue'><b>Business Context</b></font><br>
<font color='black'><p>Insurance companies aim to optimize their risk assessment strategies by identifying policyholders who are likely to file a claim in the next 6 months. A high claim rate increases financial liability, while underpricing policies for high-risk customers can lead to revenue losses. By leveraging machine learning, insurers can make data-driven decisions to reduce losses, adjust premiums, and enhance fraud detection.</p>

<div style="border-radius:10px; border:#5885AF solid; padding: 15px; background-color:white; font-size:100%;text-align:center">
<font size="+4" color="black"><b>Machine Learning ModelðŸ“š</b></font>

<div style="border-radius:10px; border:#5885AF solid; padding: 15px; background-color:white; font-size:100%; text-align:left">
<font color='blue'><b>Authors</b></font><br>
<font color='black'><p>Dataset was a part of dataverse hack - hackathon by analytics vidhya on the 14th of November, 2022.</p>

<center>
  <font size="+4"><b>MS SQL Server SetupðŸ“Š</b></font>
</center>

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sqlalchemy import create_engine
import pyodbc
warnings.filterwarnings('ignore')

<center>
<font size=+3> <b>Checking Installed pyodbc Driver</b>
</center>

In [28]:
# List all the available ODBC drivers
drivers = [driver for driver in pyodbc.drivers()]
print("Installed ODBC Drivers:")
for driver in drivers:
    print(driver)

Installed ODBC Drivers:
ODBC Driver 18 for SQL Server

<center>
<font size=+3><b>Build Connection of Local Working Directory With MSSQL Sever</b>
</center>

In [32]:
# Define the connection string
connection_string = (
    "mssql+pyodbc://SA:!sqlMan2024.@localhost/InsuranceClaim"
    "?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes" )

# Create the engine
engine = create_engine(connection_string)

# Connect to the database
with engine.connect() as connection:
    # Query the database and load it directly into a pandas DataFrame
    query = "SELECT * FROM CMS"  # Update this to the specific table/query you want
    df = pd.read_sql(query, connection)

In [ ]:
##directly fetch data from ms sql server and load in working directory
df.head()

,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Class,...,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,GeoLocation
0,None,2016,US,United States,Medicare,None,None,None,None,Cardiovascular Diseases,...,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,None
1,None,2017,US,United States,Medicare,None,None,None,None,Cardiovascular Diseases,...,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,None
2,None,2018,US,United States,Medicare,None,None,None,None,Cardiovascular Diseases,...,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,None
3,None,2019,US,United States,Medicare,None,None,None,None,Cardiovascular Diseases,...,Gender,Male,C1,T1,MD101,Crude,BOC02,GEN01,59,None
4,None,2020,US,United States,Medicare,None,None,None,None,Cardiovascular Diseases,...,Gender,Male,C1,T1,MD101,Crude,BOC02,GEN01,59,None

In [33]:
df.columns

Index(['RowId', 'YearStart', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'PriorityArea1', 'PriorityArea2', 'PriorityArea3', 'PriorityArea4',
       'Class', 'Topic', 'Question', 'Data_Value_Type', 'Data_Value_Unit',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Break_Out_Category', 'Break_Out', 'ClassId', 'TopicId', 'QuestionId',
       'Data_Value_TypeID', 'BreakOutCategoryId', 'BreakOutId', 'LocationId',
       'GeoLocation'],
      dtype='object')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33454 entries, 0 to 33453
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   RowId                       0 non-null      object
 1   YearStart                   33454 non-null  int64
 2   LocationAbbr                33454 non-null  object
 3   LocationDesc                33454 non-null  object
 4   DataSource                  33454 non-null  object
 5   PriorityArea1               33454 non-null  object
 6   PriorityArea2               0 non-null      object
 7   PriorityArea3               33454 non-null  object
 8   PriorityArea4               0 non-null      object
 9   Class                       33454 non-null  object
 10  Topic                       33454 non-null  object
 11  Question                    33454 non-null  object
 12  Data_Value_Type             33454 non-null  object
 13  Data_Value_Unit             33454 non-null  object
 14  Data_Value                  33454 non-null  float64
 15  Data_Value_Alt              33454 non-null  float64
 16  Data_Value_Footnote_Symbol  0 non-null      object
 17  Data_Value_Footnote         0 non-null      object
 18  Low_Confidence_Limit        33454 non-null  float64
 19  High_Confidence_Limit       33454 non-null  float64
 20  Break_Out_Category          33454 non-null  object
 21  Break_Out                   33454 non-null  object
 22  ClassId                     33454 non-null  object
 23  TopicId                     33454 non-null  object
 24  QuestionId                  33454 non-null  object
 25  Data_Value_TypeID           33454 non-null  object
 26  BreakOutCategoryId          33454 non-null  object
 27  BreakOutId                  33454 non-null  object
 28  LocationId                  33454 non-null  int64
 29  GeoLocation                 32734 non-null  object
dtypes: float64(4), int64(2), object(24)
memory usage: 7.7+ MB

In [45]:
cat_feat=[cat for cat in df.columns if df[cat].dtype=='object']
cat_feat

['RowId',
 'LocationAbbr',
 'LocationDesc',
 'DataSource',
 'PriorityArea1',
 'PriorityArea2',
 'PriorityArea3',
 'PriorityArea4',
 'Class',
 'Topic',
 'Question',
 'Data_Value_Type',
 'Data_Value_Unit',
 'Data_Value_Footnote_Symbol',
 'Data_Value_Footnote',
 'Break_Out_Category',
 'Break_Out',
 'ClassId',
 'TopicId',
 'QuestionId',
 'Data_Value_TypeID',
 'BreakOutCategoryId',
 'BreakOutId',
 'GeoLocation']

In [46]:
for  i in cat_feat:
    print(df[i].value_counts())

Series([], Name: count, dtype: int64)
LocationAbbr
AR    1281
ME    1278
US     720
NC     648
MA     648
NY     648
FL     648
KS     648
GA     648
OH     648
CT     648
NJ     648
IL     648
CA     648
TX     648
CO     648
WA     648
MN     647
VI     647
MI     647
OK     647
WI     647
PA     647
IA     647
OR     647
NV     647
TN     646
IN     645
SC     644
DE     644
NB     644
MO     644
LA     644
KY     643
UT     643
AL     642
NM     641
ID     641
HI     640
NH     639
MS     639
RI     634
AK     632
WV     630
DC     630
WY     627
MT     625
SD     623
VT     617
ND     614
AZ       9
Name: count, dtype: int64
LocationDesc
United States     720
New Jersey        648
North Carolina    648
Massachusetts     648
New York          648
Maryland          648
Florida           648
Kansas            648
Ohio              648
Georgia           648
Connecticut       648
Illinois          648
California        648
Texas             648
Colorado          648
Washington        648
Arizona           647
Minnesota         647
Virginia          647
Michigan          647
Oklahoma          647
Wisconsin         647
Pennsylvania      647
Nevada            647
Iowa              647
Oregon            647
Tennessee         646
Indiana           645
Delaware          644
Nebraska          644
Missouri          644
Louisiana         644
South Carolina    644
Kentucky          643
Arkansas          643
Utah              643
Alabama           642
New Mexico        641
Idaho             641
Hawaii            640
Mississippi       639
New Hampshire     639
Rhode Island      634
Alaska            632
Washington, DC    630
West Virginia     630
Maine             630
Wyoming           627
Montana           625
South Dakota      623
Vermont           617
North Dakota      614
Name: count, dtype: int64
DataSource
Medicare    33454
Name: count, dtype: int64
PriorityArea1
None    33454
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
PriorityArea3
None    33454
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Class
Cardiovascular Diseases    33454
Name: count, dtype: int64
Topic
Major Cardiovascular Disease                  5626
Diseases of the Heart (Heart Disease)         5620
Stroke                                        5606
Coronary Heart Disease                        5593
Acute Myocardial Infarction (Heart Attack)    5584
Heart Failure                                 5425
Name: count, dtype: int64
Question
Major cardiovascular disease hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                                   2814
Diseases of the heart (heart disease) hospitalization rate among Medicare beneficiaries (65+); CMS Medicare                                                          2814
Heart failure hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                                                  2814
Coronary heart disease hospitalization rate among Medicare beneficiaries (65+); CMS Medicare                                                                         2814
Cerebrovascular disease (stroke) hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                               2814
Acute myocardial infarction (heart attack) hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                     2814
Prevalence of in-hospital mortality among major cardiovascular disease hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                  2812
Prevalence of in-hospital mortality among diseases of the heart (heart disease) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare         2806
Prevalence of in-hospital mortality among cerebrovascular disease (stroke) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare              2792
Prevalence of in-hospital mortality among coronary heart disease hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                        2779
Prevalence of in-hospital mortality among acute myocardial infarction (heart attack) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare    2770
Prevalence of in-hospital mortality among heart failure hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                 2611
Name: count, dtype: int64
Data_Value_Type
Crude    33454
Name: count, dtype: int64
Data_Value_Unit
Rate per 100,000    16884
Percent (%)         16570
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Break_Out_Category
Race       22150
Gender      7488
Age         3744
Overall       72
Name: count, dtype: int64
Break_Out
Male                  3744
Non-Hispanic White    3744
75+                   3744
Female                3744
Other                 3733
Unknown               3712
Non-Hispanic Black    3697
Non-Hispanic Asian    3658
Hispanic              3606
Overall                 72
Name: count, dtype: int64
ClassId
C1    33454
Name: count, dtype: int64
TopicId
T1    5626
T2    5620
T6    5606
T4    5593
T3    5584
T5    5425
Name: count, dtype: int64
QuestionId
MD101    2814
MD201    2814
MD501    2814
MD301    2814
MD601    2814
MD401    2814
MD103    2812
MD203    2806
MD603    2792
MD303    2779
MD403    2770
MD503    2611
Name: count, dtype: int64
Data_Value_TypeID
Crude    33454
Name: count, dtype: int64
BreakOutCategoryId
BOC04    22150
BOC02     7488
BOC03     3744
BOC01       72
Name: count, dtype: int64
BreakOutId
GEN01    3744
RAC01    3744
AGE08    3744
GEN02    3744
RAC07    3733
RAC08    3712
RAC02    3697
RAC03    3658
RAC04    3606
OVR01      72
Name: count, dtype: int64
GeoLocation
POINT (-72.08269067 42.27687047)    648
POINT (-76.60926011 39.29058096)    648
POINT (-75.54397043 42.82700103)    648
POINT (-106.1336109 38.84384076)    648
POINT (-99.42677021 31.82724041)    648
POINT (-120.4700108 47.52227863)    648
POINT (-88.99771018 40.48501028)    648
POINT (-74.27369129 40.13057005)    648
POINT (-72.64984095 41.56266102)    648
POINT (-79.15925046 35.46622098)    648
POINT (-83.62758035 32.83968109)    648
POINT (-98.20078123 38.3477403)     648
POINT (-81.92896054 28.93204038)    648
POINT (-82.40426006 40.06021014)    648
POINT (-120.9999995 37.63864012)    648
POINT (-77.86070029 40.79373015)    647
POINT (-84.71439027 44.66131954)    647
POINT (-78.45789046 37.54268067)    647
POINT (-94.7942005 46.35564874)     647
POINT (-111.7638113 34.86597028)    647
POINT (-120.1550313 44.56744942)    647
POINT (-117.0718406 39.49324039)    647
POINT (-89.81637074 44.39319117)    647
POINT (-93.81649056 42.46940091)    647
POINT (-97.52107021 35.47203136)    647
POINT (-85.77449091 35.68094058)    646
POINT (-86.14996019 39.76691045)    645
POINT (-81.04537121 33.9988213)     644
POINT (-75.57774117 39.00883067)    644
POINT (-92.44568007 31.31266064)    644
POINT (-92.56630005 38.63579078)    644
POINT (-99.36572062 41.64104099)    644
POINT (-92.27449074 34.74865012)    643
POINT (-111.5871306 39.36070017)    643
POINT (-84.77497105 37.64597027)    643
POINT (-86.63186076 32.84057112)    642
POINT (-114.36373 43.68263001)      641
POINT (-106.240581 34.52088095)     641
POINT (-157.8577494 21.30485044)    640
POINT (-89.53803082 32.7455101)     639
POINT (-71.50036092 43.65595011)    639
POINT (-71.52247031 41.70828019)    634
POINT (-147.722059 64.84507996)     632
POINT (-77.03196113 38.89037139)    630
POINT (-80.71264013 38.6655102)     630
POINT (-68.98503134 45.25422889)    630
POINT (-108.1098304 43.23554134)    627
POINT (-109.4244206 47.06652897)    625
POINT (-100.3735306 44.35313005)    623
POINT (-72.51764079 43.62538124)    617
POINT (-100.118421 47.47531978)     614
Name: count, dtype: int64